body{
    background-color: #010001;
    margin: 0;
    padding-top: 53px;
    font-family: 'Roboto', sans-serif;
}
header{

    max-width: 1230px;
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.item-link{
    color:#FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
}
